<s-box
  background="strong"
  borderRadius="large"
  padding="base"
>
  <s-stack gap="base">
    <h3>Preview</h3>

    <%= polaris_form_with(model: Preview.new, url: preview_component_path(@component)) do |form| %>
      <s-stack gap="base">
        <%= render inline: code, locals: { form: form } %>
        <% if local_assigns[:try] %>
          <%= form.submit "Try it" %>
        <% end %>
      </s-stack>
    <% end %>
  </s-stack>
</s-box>
