<s-box
  background="strong"
  borderRadius="large"
  padding="base"
>
  <s-stack gap="base">
    <h3>Preview</h3>

    <%= polaris_form_with(model: Preview.new, url: preview_component_path(component)) do |form| %>
      <s-stack gap="base">
        <%= form.text_field :name, label: "Store name", placeholder: "Become a merchant" %>
        <%= form.submit "Try it" %>
      </s-stack>
    <% end %>
  </s-stack>
</s-box>
