<p style="color: green"><%= notice %></p>

<% content_for :title, "Components" %>

<h1>Components</h1>

<div id="components">
  <% @components.each do |component| %>
    <p>
      <%= link_to component.name, component %>
    </p>
  <% end %>
</div>
