<footer class="landing-footer">
  <div class="landing-footer-content">
    <div class="landing-copyright">
      &copy; 2025 Polaris Form Builder. Made by <%= link_to "Lex Cao", "https://github.com/lexcao", class: "landing-footer-author" %>
    </div>
    <div class="landing-footer-links">
      <%= link_to "GitHub", "https://github.com/lexcao/polaris_form_builder", class: "landing-nav-link" %>
    </div>
  </div>
</footer>
