<nav class="landing-navbar">
  <div class="landing-nav-container">
    <%= link_to root_path, class: "landing-logo" do %>
      <span>Polaris Form Builder</span>
    <% end %>
    <div class="landing-nav-links">
      <%= link_to "GitHub", "https://github.com/lexcao/polaris_form_builder", class: "landing-nav-link" %>
      <%= link_to "Components", components_path, class: "landing-nav-link landing-nav-link-primary" %>
    </div>
  </div>
</nav>
